Riley Adam <riley.adam@mail.mcgill.ca> Cursor Agent <cursoragent@cursor.com>
Riley Adam <riley.adam@mail.mcgill.ca> Riley Adam <rileyadam@Rileys-Laptop.local>
Riley Adam <riley.adam@mail.mcgill.ca> Riley Adam <rileyadam@iceeducate.org>
Riley Adam <riley.adam@mail.mcgill.ca> Riley Adam <rileyadam@rileys-laptop.home>
